*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    height: 3.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.041);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font: 900 1.7rem 'Poppins', Arial, Helvetica, sans-serif;
    color: #24292F;
    padding: .8rem;
}
