.user-container{
    height: 3.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

   
}

.user-picture img{
    background-color: white;
    margin-right: 1rem;
    border-radius: 5px;
}

.user-info-container{
    color: white;
}

.user-info-container h1{
    
    font: 600 1.3rem 'Poppins', Arial, Helvetica, sans-serif;
}

.user-info-container p{
    font: 400 1rem 'Poppins', Arial, Helvetica, sans-serif;
}
