.user-container{
    height: 3.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   
}

.icon{
    color: #24292F;
    padding: .8rem;
}

.user-info-container{
    color: white;
}

.user-info-container h1{
    
    font: 600 1.3rem 'Poppins', Arial, Helvetica, sans-serif;
}

.user-info-container p{
    font: 400 1rem 'Poppins', Arial, Helvetica, sans-serif;
}
