.repository-container{
    color: #24292F;
    font: 700 1.2rem 'Poppins', Arial, Helvetica, sans-serif;
    text-decoration: none;

    padding: 1.2rem 2rem;
    border: none;
    background-color: white;
    text-align: left;
    cursor: pointer;
    transition: .3s;
}

.status-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.repository-container:hover{
    font: 700 1.3rem 'Poppins', Arial, Helvetica, sans-serif;

}
.repository-status{
    padding: 5px 10px;
    background-color: #2C974B;
    border-radius: 5px;
    color: white;
    font: 700 .7rem Arial;
    text-align: center;

}

.techs{
    color: rgba(102, 102, 102, 0.637);
    font: 500 .9rem 'Poppins', Arial, Helvetica, sans-serif;
    margin-top: .3rem;
}