@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container{
    width: 100vw;
    height: 100vh;

    background-color: #24292F;
    padding: 2rem;

    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns:5% 35% 60%;
    grid-template-areas: 
    "header header header"
    "menu-section main-section information-section";
}

.header{
    grid-area: header;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.menu-section{
    grid-area: menu-section;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-section{
    grid-area: main-section; 
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/*Section to repository informations*/
.information-section{
    grid-area: information-section;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "repository-description repository-data"
    "repository-infos repository-data";

}

.repository-description{
    grid-area: repository-description;
    max-width: 600px;
    color: white;
    font: 400 1rem 'Poppins', Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.repository-description h1{
    font: 700 2rem 'Poppins';
    margin-bottom: 1rem;
}

.repository-infos{
    grid-area: repository-infos;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.repository-data{
    grid-area: repository-data;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.title-container{
    font: 600 1rem 'Poppins', Arial, Helvetica, sans-serif;
    color: #666;
    margin-bottom: 1rem;
}


/*Repository Information*/

.repoCount{
    display: flex;
    flex-direction: column;

}

.cardCount{
    height: 2.8rem;
    width: 2.8rem;
    margin: 1rem 0; 

    background-color:  rgb(255, 255, 255);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.041);

    font: 600 1rem 'Poppins', Arial, Helvetica, sans-serif;
    color: #24292F;
    border-radius: 5px;
    margin-right: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.cardIcon{
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    border-radius: 5px ;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.041);


    position: absolute;
    left: 75%;
    top: 75%;    
}

.link-container{
    margin: 1rem 0;
}

.link{
    font: 400 1rem 'Poppins', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
}

.link:hover{
    text-decoration: underline;
    color: rgb(65, 65, 240);
    transition: .2s;
}