@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container{
    width: 100vw;
    height: 100vh;

    background-color: #24292F;
    padding: 2rem;

    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-areas: "left-section main-section";
}

.left-section{
    grid-area: left-section;
}

.main-section{
    grid-area: main-section;

    
}



