.primarylogin-container{
    height: 400px;
    width: 600px;

    background-color: #fff;
    border-radius: 5px;
    padding: 3rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.heading-container{
    display: flex;
    flex-direction: row;
}

.heading{
    color: rgb(73, 73, 73);
}

.title{
    font: 500 2rem 'Poppins', Arial, Helvetica, sans-serif;
    padding-bottom: 1rem;
}

.description{
    font: 400 1rem 'Poppins', Arial, Helvetica, sans-serif;
    padding-bottom: 1rem;

}

.logo{
    font: 600 1.2rem 'Poppins', Arial, Helvetica, sans-serif;
    color: gray;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(73, 73, 73);
}

.login-button button{
    font: 500 1rem 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #666;
    border: 1px solid rgb(73, 73, 73);

}