.primarylogin-container{
    height: 400px;
    width: 650px;

    background-color: #fff;
    border-radius: 5px;
    padding: 3rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.heading-container{
    display: flex;
    flex-direction: row;
}

.heading{
    color: #24292F;
    margin-bottom: 1.5rem;

}

.title{
    font: 500 2rem 'Poppins', Arial, Helvetica, sans-serif;
    margin-bottom: .5rem;
}

.description{
    font: 400 1rem 'Poppins', Arial, Helvetica, sans-serif;
    color: #5E6873;
}

.logo{
    font: 600 1.2rem 'Poppins', Arial, Helvetica, sans-serif;
    color: #24292F;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.input-field > h4{
    color: #24292F;
    position: absolute;
    top: 20%;
    left: 3%;
}

.input{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #24292F;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.input:placeholder-shown{
    color: #5E6873;
    font-size: 1rem;
    font-weight: 500;
    
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container > button{
    height: 40px;
    width: 250px;

    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    font: 500 1rem 'Poppins', Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #424B55;
    cursor: pointer;
    transition: .5s;

}

.button-container > p {
    font-size: 14px;
    color: #5E6873;
    text-align: center;
}

.button-container > button:hover{
    background-color: #24292F;
}


.button-container > p > a {
    font-weight: 500;
    color: #5E6873;
    text-decoration: none;
    cursor: pointer;
}

.button-container > p > a:hover{
    text-decoration: underline;
    color: #24292F;
}