*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-field{
    background-color: white;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.041);
}
