.container{
    width: 500px;
    min-height: 450px;
    max-height: 650px; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.041);

    font: 400 1rem Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;

    overflow-y: auto;
    margin-right: 2rem;
}

::-webkit-scrollbar{
    background-color: white;
    border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
}